Készítsünk listát az egyes szálláshelyek átlagos csillagszámáról típus, illetve hely szerint csoportosítva (külön-külön)!

- Az átlag 2 tizedesre kerekítve jelenjen meg
- Hagyjuk ki azokat a szálláshelyeket, amelyek nevében kötőjel (-) van!

In [21]:
SELECT *,
    AVG(CSILLAGOK_SZAMA) OVER(PARTITION BY TIPUS) AS 'TÍPUS SZERINTI CSILLAG',
    AVG(CSILLAGOK_SZAMA) OVER(PARTITION BY HELY) AS 'HELY SZERINTI CSILLAG'
FROM Szallashely
WHERE SZALLAS_NEV NOT LIKE '%-%'

: Msg 156, Level 15, State 1, Line 4
Incorrect syntax near the keyword 'HAVING'.

Rangsoroljuk az egyes szobákat a foglalások száma, azon belül férőhely szerint!

- Holtverseny esetén a sorszámok sűrűn kövessék egymást
- Az 1-es számot a legtöbbet foglalt, azon belül legkevesebb férőhelyű szoba kapja
- Csak a szoba azonosítója, a férőhely és a helyezés jelenjen meg

In [ ]:
SELECT *,
    RANK() OVER(PARTITION BY SUM())
FROM Szallashely

Kérdezzük le az átlagosnál kevesebb főre történt foglalások adatait!

a. Egy új oszlopban jelenjen meg az ügyfél neve is!

b. Egy másik új oszlop mutassa meg, hogy az ügyfél előző három foglalása átlagosan hány főre történt! Az oszlop neve legyen 'Előző három foglalás átlaga'

c. A listában azon vendégek is jelenjenek meg, akik még nem foglaltak!

In [ ]:
SELECT 
FROM Foglalas
WHERE SUM(FELNOTT_SZAM, GYERMEK_SZAM)> AVG(SUM(FELNOTT_SZAM, GYERMEK_SZAM))